Checks: '-*,
    clang-diagnostic-*,
    clang-analyzer-*,
    concurrency-*,
    bugprone-*,
    google-*,
    modernize-*,
    performance-*,
    readability-*,

    -modernize-use-trailing-return-type,
    -cppcoreguidelines-pro-type-*,
    -cppcoreguidelines-owning-memory,
    -google-runtime-*,
    -google-objc-*,
    -readability-magic-numbers,
    -readability-function-cognitive-complexity,
    -bugprone-easily-swappable-parameters'
