name: CI

on:
  push:
    branches: [master]
  pull_request:

env:
  BUILD_TYPE : Release

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2019]

    steps:
      - uses: actions/checkout@v2
      - name: Configure conan
        run: |
          pip3 install conan
          pip3 install conan_package_tools
      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
      - name: Upgrade compiler
        if: matrix.os == "ubuntu-latest"
        run: |
          sudo apt install gcc-10 g++-10
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 100 --slave /usr/bin/g++ g++ /usr/bin/g++-10 --slave /usr/bin/gcov gcov /usr/bin/gcov-10
          sudo update-alternatives --set gcc /usr/bin/gcc-10
      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --parallel
      - name: Test
        run: |
          cd ${{github.workspace}}/build
          ctest --verbose
